[package]
name = "quicky_evm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["lib"]
bench = false
doctest = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hex = "0.4.3"
ibig = "0.3.6"
